* {
  visibility: visible;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

html {
  font-size: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #2c2d44;
}
body .vertical-centered-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
body .vertical-centered-box:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body .vertical-centered-box {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}

.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
          animation: rotate 1.2s infinite linear;
}

.loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

#particles-background, #particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(0.5, 0.5, 1);
}

#particles-background {
  background: #2c2d44;
  background-image: linear-gradient(45deg, #4645d0 5%, #3f3251 100%);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#result-iframe-wrap {
  z-index: 99 !important;
  width: 100%;
}

.announce-top {
  width: 100%;
  height: 70px;
}

.main {
  width: 100%;
  height: 800px;
  background: rgb(54, 53, 255);
  background: linear-gradient(90deg, rgb(54, 53, 255) 18%, rgb(70, 69, 208) 57%, rgb(76, 76, 233) 100%);
}

.announce-top-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 70px;
  justify-content: center;
}

.gryflogo {
  margin-top: 10px;
  float: left;
  width: 50px;
  height: 50px;
}

.announce-top-text {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.announce-top-button {
  width: 120px;
  border-radius: 40px;
  margin-top: 15px;
  background-color: #4645d0;
  height: 40px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.announce-top-button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#navbar {
  top: 0;
  z-index: 98 !important;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
}

nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

#nav-container {
  top: 0;
  display: initial;
  text-align: center;
  width: 70%;
  display: flex;
  margin: auto 0;
  height: 80px;
  font-size: 20px;
}
#nav-container img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}

#hrefs a {
  float: right;
  color: white;
  margin: 10px;
  margin-top: 26px;
  text-decoration: none;
}
#hrefs a:hover {
  border-bottom: 1px solid;
}

.menu-container {
  height: 80px;
  background-color: transparent;
}

.sticky {
  color: #4645d0;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 99 !important;
  width: 100%;
}

.sticky-menu-box {
  margin-top: 80px;
}

.sticky + .content {
  padding-top: 60%;
}

#container {
  width: 100%;
  background-color: white;
}

.loader-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 99 !important;
  position: absolute;
  top: 0;
  left: 0;
}

.banner2 {
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  padding-top: 108px;
}

.banner1 {
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding-top: 108px;
}

.main-text {
  font-size: 45px;
  font-weight: bolder;
}

.bottom-text {
  max-width: 570px;
  font-size: 20px;
  margin-top: 5px;
  font-weight: normal;
}

.left {
  max-width: 570px;
  color: white;
  margin-top: 150px;
  margin-left: calc(35% - 70px);
  position: absolute;
  width: 375px;
  float: left;
}
.left a {
  text-decoration: none;
  color: white;
}

.main-button {
  width: 300px;
  border-radius: 40px;
  height: 50px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}
.main-button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.bc {
  color: black;
  background-color: white;
  margin-top: 200px;
}

.ac {
  margin-top: 70px;
}

.dc, .ac {
  color: white;
  background-color: #4645d0;
}

#divgrid h1 {
  padding-top: 56px;
  font-weight: 700;
  font-size: 48px;
}
#divgrid p {
  display: flex;
  max-width: 600px;
  padding-top: 24px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.divgrid-gridinside {
  z-index: 10 !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  margin-top: 50px;
  right: 0;
  position: absolute;
  width: 60%;
  text-align: center;
}

.divgrid-gridforcards {
  margin-left: auto;
  justify-content: center;
  display: flex;
  margin-right: auto;
}

.divgrid-gridinsideprojects {
  position: absolute;
  margin-left: 50px;
}

.divgridbackground {
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 8px;
  height: 240px;
}

#pbutton {
  cursor: pointer;
  text-align: center;
  height: 40px;
  padding-top: 5px;
  margin-top: 50px;
  background-color: #23272a;
  transition: box-shadow 300ms ease, transform 300ms ease, background-color 300ms ease;
}
#pbutton:hover {
  box-shadow: 0 2px 9px 0 rgba(6, 10, 11, 0.42);
  transform: translate(0px, -2px);
}

.descprojects {
  z-index: 70 !important;
  font-weight: 500;
  color: #23272a;
  margin-top: 10px;
  max-width: 398px;
}

#divgridprojects h2 {
  color: white;
  width: 200px;
  border-radius: 28px;
  float: left;
}

.divgrid-gridoutside {
  padding-top: 165px;
}

.grid1 {
  background-color: white;
}

.grid2 {
  background-color: #f6f6f6;
}

.comingsoon {
  padding-top: 200px;
  text-align: center;
}

.grid1, .grid2 {
  height: 680px;
}
.grid1 img, .grid2 img {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 350px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.grid1projects {
  height: 740px;
  background-color: white;
}
.grid1projects img {
  z-index: 69 !important;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 540px;
  margin-top: 30px;
  height: 280px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.bb {
  width: 1000px;
  display: flex;
}

.bbprojects {
  width: 1000px;
  display: flex;
}

.grid3 {
  height: 340px;
  background-color: #2c2c2c;
}
.grid3 img {
  height: 80px;
}

.divgridinfobox {
  margin-left: auto;
  justify-content: center;
  display: flex;
  margin-right: auto;
  width: 40%;
}
.divgridinfobox a {
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  color: #4645d0;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #2c2c2c;
  box-sizing: border-box;
}
.divgridinfobox a:hover {
  border-bottom: 1px solid #4645d0;
}

.divgridinfobottom {
  border-top: 2px solid #4645d0;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.divgridinfobottom img {
  width: 140px;
  height: 80px;
}

.dc {
  margin-top: 15px;
  float: right;
}

.hamburgernone {
  display: none;
}

#menu__toggle {
  display: none;
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 140px;
  margin-top: 40px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  z-index: 99 !important;
  display: block;
  text-align: center;
  position: fixed;
  top: 0;
  right: -100%;
  width: 170px;
  padding: 30px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #ECEFF1;
  transition-duration: 0.25s;
}
.menu__item:hover {
  border-bottom: 1px solid black;
}

.bn {
  display: none;
}

.dd {
  margin-top: 150px;
}

#containerbudo {
  background-color: white;
  width: 100%;
  height: 100%;
}
#containerbudo h1 {
  padding-top: 50px;
  text-align: center;
}
#containerbudo img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 134px;
}

#divgrid-gridinside-h1, #divgrid-gridinside-h1-wakacje {
  color: #23272a;
  text-align: center;
}

.warningdesc {
  margin-top: 10px;
}

#autorgryf {
  z-index: 70 !important;
  margin-top: 50px;
}

.buttonflex p {
  font-size: 15px;
  font-weight: bold;
  color: #23272a;
  padding-right: 10px;
  float: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.buttonflex a {
  color: #23272a;
  text-decoration: none;
}
.buttonflex span {
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.buttonflex span:hover {
  border-bottom: 1px solid black;
}

.greycard {
  margin: 0 auto;
  max-width: 420px;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.fas {
  margin-top: 4px;
  margin-left: 5px;
  color: white;
  cursor: pointer;
}

.flag-icon img {
  margin-top: 8px;
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.flag-text h4 {
  cursor: pointer;
  margin-top: 2px;
  color: white;
}

.flag-text2 h4 {
  cursor: pointer;
  margin-top: 2px;
  color: black;
}

#lang-divgrid {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
}

#lang-divgrid2 {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
}

#lang-divgrid2 .fas {
  margin-top: 4px;
  margin-left: 5px;
  color: black;
  cursor: pointer;
}

#dropdown {
  margin-left: 10px;
  margin-top: 4px;
  display: none;
  border-radius: 8px;
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #ECEFF1;
}
#dropdown img {
  width: 24px;
  margin-top: 6px;
  margin-right: 5px;
  margin-left: 5px;
  height: 16px;
}
#dropdown h4 {
  font-weight: 400;
  color: black;
}

#dropdown2 {
  margin-top: 4px;
  margin-left: 12px;
  display: none;
  border-radius: 8px;
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #ECEFF1;
}
#dropdown2 img {
  width: 24px;
  margin-top: 6px;
  margin-right: 5px;
  margin-left: 5px;
  height: 16px;
}
#dropdown2 h4 {
  font-weight: 400;
  color: black;
}

.lang-div {
  margin-left: 10px;
  float: right;
  position: relative;
  bottom: 4px;
}

#nav-icon {
  width: 140px;
  height: 80px;
}

.lang-div2 {
  justify-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 4px;
}

.dropdown-content {
  display: flex;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-content:hover {
  background-color: rgba(79, 84, 92, 0.16);
  border-radius: 4px;
}

.big {
  display: initial;
}

.micro {
  display: none;
}

#containergryf {
  background-position: 50% 50%;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}

.maingryf-rgba {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbarbackground {
  background-color: rgba(0, 0, 0, 0.3);
}

.leftgryf {
  max-width: 800px;
  color: white;
  margin-top: 150px;
  margin-left: calc(35% - 70px);
  position: absolute;
  float: left;
}
.leftgryf a {
  text-decoration: none;
  color: white;
}
.leftgryf h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 50px;
}
.leftgryf .leftgryf-p {
  font-size: 20px;
}
.leftgryf .leftgryf-warning {
  padding-top: 10px;
  color: #cc3333;
  font-weight: bold;
}

#containerprojects {
  background: rgb(103, 87, 238);
  background: linear-gradient(41deg, rgb(103, 87, 238) 22%, rgb(87, 56, 240) 42%, rgb(89, 61, 236) 62%, rgb(76, 21, 255) 100%);
  background-position: 50% 50%;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.leftprojects {
  max-width: 800px;
  color: white;
  margin-top: 100px;
  margin-left: calc(35% - 70px);
  position: absolute;
  float: left;
}
.leftprojects a {
  text-decoration: none;
  color: white;
}
.leftprojects h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 50px;
}
.leftprojects .leftgryf-p {
  font-size: 20px;
}
.leftprojects .leftgryf-warning {
  padding-top: 10px;
  color: #cc3333;
  font-weight: bold;
}

.warning {
  font-size: 15px;
  font-weight: bolder;
  color: #cc3333;
}

.banner2projects {
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  padding-top: 5px;
}

.imgoverflow {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  transition: all 0.8s;
}
.imgoverflow img {
  transform: scale(1.1);
  transition: transform 0.25s;
  height: 218px;
}

.imggryf {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: background-size 0.5s;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 420px;
  z-index: 16 !important;
  height: 200px;
}
.imggryf:hover {
  background-size: 120%;
}

.hovergrid {
  position: absolute;
  z-index: 95 !important;
  width: 420px;
  height: 200px;
}
.hovergrid:hover + .imggryf {
  background-size: 120%;
}

.projectstar {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.greycardbottom {
  padding: 10px;
}

.gryfbckg {
  background-image: url(../images/gryfbackgroundorginal.png);
}

.wakacjebckg {
  background-image: url(../images/wakacjebackground.png);
}

#nodesc {
  z-index: 70 !important;
  position: absolute;
  bottom: 10px;
  right: 0;
}

.wrap {
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.gryfmaintext {
  margin-bottom: 20px;
}

.banner1projects {
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding-top: 5px;
}

@media screen and (max-width: 2560px) {
  .divgridinfobox a {
    margin-top: 130px;
  }
}
@media screen and (max-width: 1190px) {
  .hamburgernone {
    display: initial;
  }
  #hrefs {
    display: none;
  }
  .divgrid-gridoutside .bb {
    width: 850px;
  }
  #divgrid h1 {
    padding-top: 30px;
  }
  .lang-div {
    display: none;
  }
}
@media screen and (max-width: 1096px) {
  .banner1 {
    display: none;
  }
  .banner1projects {
    display: none;
  }
  .left {
    margin-left: 100px;
  }
  .leftgryf {
    margin-left: 100px;
  }
  .divgridinfobottom {
    width: 60%;
  }
  .divgrid-gridforcards {
    display: block;
  }
  .divgrid-gridinsideprojects {
    margin-left: 0px;
    left: 0;
    right: 0;
  }
  .grid1projects {
    height: 1280px;
  }
  .grid1projects img {
    width: 530px;
  }
  .descprojects {
    float: left;
  }
  #nodesc {
    position: initial;
    margin-top: 10px;
    float: right;
  }
  .addbottom {
    height: 50px;
  }
  #autorgryf {
    margin-top: 40px !important;
  }
}
@media screen and (max-width: 870px) {
  .divgridinfobottom {
    width: 80%;
  }
  .divgrid-gridoutside {
    padding-top: 190px;
  }
  .divgrid-gridoutside .bb {
    width: 670px;
    height: 300px;
  }
  .divgrid-gridinside {
    margin-top: 0px;
  }
  #divgrid h1 {
    font-size: 40px;
  }
  #divgrid p {
    font-size: 17px;
  }
  .banner2 {
    width: 370px;
    padding-top: 243px;
  }
}
@media screen and (max-width: 670px) {
  .menu__btn {
    margin-left: 70px;
  }
  .left {
    width: 100px;
    margin-left: 40px;
  }
  .leftgryf {
    width: 100px;
    margin-left: 40px;
  }
  .divgrid-gridoutside img {
    height: 160px;
    width: 420px;
  }
  .no {
    margin-top: 60px;
  }
  .gryfh1 {
    font-size: 40px !important;
  }
  .fitcontent {
    width: 200px !important;
  }
  .projectcontent {
    width: 250px !important;
  }
  .gryfbtn1 {
    margin-top: 100px !important;
  }
  .divgridinfobox a {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .announce-top-text {
    margin-top: 17px;
    width: 200px;
    font-weight: 400;
    font-size: 13px;
  }
  #nav-container {
    width: 90%;
  }
  .banner2 {
    width: 250px;
    padding-top: 298px;
  }
  .main-text {
    width: 350px;
    font-size: 40px;
  }
  .bottom-text {
    font-size: 17px;
    width: 300px;
  }
  .bc {
    margin-top: 30px;
  }
  .main-button {
    font-size: 17px;
    width: 270px;
  }
  .main {
    height: 700px;
  }
  .announce-top-button {
    font-size: 11px;
    width: 110px;
  }
  .gryflogo {
    margin-top: 15px;
    width: 40px;
    height: 40px;
  }
  #divgrid h1 {
    font-size: 35px;
  }
  #divgrid p {
    padding-top: 20px;
    font-size: 15px;
  }
  .bm {
    display: flex;
  }
  .bb {
    display: none;
  }
  .add {
    margin-top: 90px;
  }
  .divgridinfobottom {
    width: 96%;
  }
  .resize {
    font-size: 15px;
    width: 240px;
  }
  .bbprojects {
    margin-top: 50px !important;
    width: 530px !important;
    height: 250px !important;
  }
}
@media screen and (max-width: 550px) {
  .bbprojects {
    width: 400px !important;
    height: 230px !important;
  }
  .hovergrid {
    height: 180px;
    width: 350px;
  }
  .wrap {
    align-items: center;
    margin: 0 auto;
  }
  .imgoverflow {
    max-height: 180px;
  }
  .greycard {
    max-width: 350px;
  }
  .imggryf {
    height: 180px;
    width: 350px;
  }
}
@media screen and (max-width: 440px) {
  .main-text {
    width: 300px;
  }
  .divgrid-gridoutside img {
    width: 350px;
  }
  .divgridinfobox a {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .announce-top-text {
    width: 160px;
    font-size: 13px;
    margin-top: 12px;
  }
  .menu__box {
    width: 160px;
  }
  .menu__item {
    font-size: 15px;
  }
  .banner2 {
    position: initial;
    padding-top: 248px;
  }
  .main {
    height: 650px;
  }
  .left {
    margin-top: 140px;
  }
  .leftgryf {
    margin-top: 140px;
  }
  .divgrid-gridinside {
    width: 70%;
  }
  .resize {
    height: 40px;
    width: 200px;
    font-size: 12px;
  }
  .dc {
    margin-top: 20px;
  }
  .gryfmaintext {
    font-size: 25px;
  }
  .bbprojects {
    margin-top: 40px !important;
    width: 360px !important;
    height: 200px !important;
  }
  .comingsoon {
    font-size: 25px;
  }
  .hovergrid {
    height: 160px;
    width: 320px;
  }
  .wrap {
    align-items: center;
    margin: 0 auto;
  }
  .imgoverflow {
    max-height: 160px;
  }
  .greycard {
    max-width: 320px;
  }
  .imggryf {
    height: 160px;
    width: 320px;
  }
  .push {
    padding-top: 250px;
  }
  .greycardbottom {
    font-size: 15px;
  }
  #autorgryf {
    margin-top: 60px !important;
  }
}
@media screen and (max-width: 360px) {
  .menu__btn {
    margin-left: 25px;
  }
  .main-text {
    width: 290px;
    font-size: 30px;
  }
  .bottom-text {
    width: 200px;
  }
  .divgrid-gridoutside img {
    width: 300px;
  }
  .divgridinfobox a {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 13px;
  }
  .announce-top-text-span {
    font-size: 13px;
    width: 130px;
  }
  .announce-top-button {
    font-size: 9px;
    width: 90px;
  }
  .main-button {
    font-size: 15px;
    width: 240px;
  }
  .left {
    margin-left: 30px;
  }
  .leftgryf {
    margin-left: 30px;
  }
  .divgrid-gridinside {
    width: 75%;
  }
  .divgridinfobottom img {
    width: 110px;
    height: 60px;
  }
  .main-button {
    font-size: 13px;
    width: 200px;
  }
  .dc {
    margin-top: 10px;
  }
  .divgridinfobox a {
    font-size: 10px;
  }
  .bbprojects {
    margin-top: 25px !important;
    display: inherit !important;
    width: 320px !important;
    height: 230px !important;
  }
  .comingsoon {
    font-size: 20px;
  }
  .hovergrid {
    height: 160px;
    width: 300px;
  }
  .wrap {
    align-items: center;
    margin: 0 auto;
  }
  .imgoverflow {
    max-height: 180px;
  }
  .greycard {
    max-width: 300px;
  }
  .imggryf {
    height: 160px;
    width: 300px;
  }
  .push {
    padding-top: 250px;
  }
}
@media screen and (max-width: 330px) {
  .divgrid-gridoutside img {
    display: none;
  }
  .resize {
    width: 165px;
  }
}
@media screen and (max-width: 305px) {
  .main-text {
    width: 250px;
  }
}
@media screen and (max-width: 290px) {
  .main-button {
    font-size: 11px;
    width: 150px;
  }
  .gryfh1 {
    font-size: 30px !important;
  }
  .fitcontent {
    width: 200px !important;
    font-size: 15px !important;
  }
}
@media screen and (max-width: 280px) {
  .main-text {
    width: 240px;
  }
  .main-button {
    font-size: 10px;
    width: 140px;
  }
  .menu__btn {
    margin-left: 0px;
  }
}
@media screen and (max-width: 270px) {
  .announce-top-text {
    font-size: 12px;
    width: 130px;
  }
  .main-text {
    width: 230px;
  }
}
@media screen and (max-width: 260px) {
  .main-text {
    width: 200px;
  }
  .divgridinfobottom img {
    width: 90px;
    height: 40px;
  }
  .dc {
    margin-top: 0px;
  }
  #divgrid h1 {
    font-size: 30px;
  }
  #divgrid p {
    font-size: 13px;
  }
  .announce-top-text {
    font-size: 10px;
    width: 130px;
  }
  .divgridinfobox a {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 240px) {
  .divgridinfobottom img {
    width: 60px;
    height: 30px;
  }
  .fitcontent {
    width: 150px !important;
  }
}
@media screen and (max-width: 230px) {
  .bottom-text {
    font-size: 14px;
    width: 150px;
  }
  .divgridinfobox a {
    font-size: 10px;
  }
  #nav-icon {
    margin-left: 10px;
    width: 70px;
    height: 40px;
  }
  #divgrid h1 {
    font-size: 25px;
  }
  .menu__btn {
    width: 14px;
    height: 14px;
    margin-top: 20px;
  }
  .menu__btn > span::before {
    content: "";
    top: -4px;
  }
  .menu__btn > span::after {
    content: "";
    top: 4px;
  }
  #navbar {
    height: 40px;
  }
  #nav-container {
    height: 40px;
  }
  .main {
    height: 500px;
  }
  .banner2 {
    width: 150px;
    padding-top: 227px;
  }
  .main-text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .divgridinfobox {
    display: none;
  }
  .grid3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .divgridinfobottom {
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
  }
  .big {
    display: none;
  }
  .micro {
    display: initial;
  }
}
@media screen and (max-width: 190px) {
  .bottom-text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #divgrid h1 {
    font-size: 15px;
  }
  .announce-top-text {
    padding-top: 10px;
    font-size: 7px;
    width: 130px;
  }
  .announce-top-button {
    font-size: 7px;
    width: 100px;
    height: 30px;
  }
}/*# sourceMappingURL=style.css.map */